<?xml version="1.0"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" bootstrap="./tests/bootstrap.php" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd">
  <coverage>
    <include>
      <directory suffix=".php">./src</directory>
    </include>
  </coverage>
  <testsuites>
    <testsuite name="Domain">
      <directory>./tests/Domain</directory>
    </testsuite>
    <testsuite name="Application">
      <directory>./tests/Application</directory>
    </testsuite>
    <testsuite name="Infrastructure">
      <directory>./tests/Infrastructure</directory>
    </testsuite>
  </testsuites>
</phpunit>
