{% extends 'main.html' %}

{% block pid %}id="padmin" data-ajax="false"{%endblock%}
{% block content %}

<h1>{{ page.glob.langa.admin }}</h1>
{% include "flash_messages.html" %}

<form action="{{page.rot}}/admin/configuration/" method="post" id="adminform">
	<fieldset data-role="fieldcontain">
		<label for="calibre_dir">{{page.glob.langa.calibre_dir1}}</label>
		<input name="calibre_dir" id="calibre_dir" type="text" 
			value="{{page.glob.calibre_dir}}" placeholder="{{page.glob.langa.calibre_dir2}}"/>
		<p>{{page.glob.langa.calibre_dir_expl}}</p>					
	</fieldset>	
	<fieldset data-role="fieldcontain">
		<label for="kindle">{{page.glob.langa.kindle_enable}}</label>
		<select name="kindle" id="kindle" data-role="slider">
			<option value="0" {% if page.glob.kindle == "0" %}selected {%endif%}>
				{{page.glob.langa.switch_no}}
			</option>
			<option value="1" {% if page.glob.kindle == "1" %}selected {%endif%}>
				{{page.glob.langa.switch_yes}}
			</option>
		</select>
		<p>{{page.glob.langa.kindle_expl}}</p>
	</fieldset>	
	<fieldset data-role="fieldcontain">
		<label for="kindle_from_email">{{page.glob.langa.kindle_from_email1}}</label>
		<input name="kindle_from_email" id="kindle_from_email" type="text" 
			value="{{page.glob.kindle_from_email}}" placeholder="{{page.glob.langa.kindle_from_email2}}" />
		<p>{{page.glob.langa.kindle_expl2}}</p>
	</fieldset>
	<fieldset data-role="fieldcontain">
		<label for="thumb_gen_clipped">{{page.glob.langa.thumb_gen_clipped}}</label>
		<select name="thumb_gen_clipped" id="thumb_gen_clipped" data-role="slider">
			<option value="0" {% if page.glob.thumb_gen_clipped == "0" %}selected {%endif%}>
				{{page.glob.langa.switch_no}}
			</option>
			<option value="1" {% if page.glob.thumb_gen_clipped == "1" %}selected {%endif%}>
				{{page.glob.langa.switch_yes}}
			</option>
		</select>
		<p>{{page.glob.langa.thumb_gen_clipped_expl}}</p>
	</fieldset>	
	<fieldset data-role="fieldcontain">
		<label for="page_size">{{page.glob.langa.page_size}}</label>
		<input name="page_size" id="page_size" 
			type="range" 
			value="{{page.glob.page_size}}"
			min="1"
			max="100"
			step="1"
		/>
		<p>{{page.glob.langa.page_size_expl}}</p>
	</fieldset>	
	<fieldset data-role="fieldcontain">
		<label for="display_app_name">{{page.glob.langa.display_app_name}}</label>
		<input name="display_app_name" id="display_app_name" 
			type="text" 
			value="{{page.glob.display_app_name}}"
		/>
		<p>{{page.glob.langa.display_app_name_expl}}</p>
	</fieldset>		
	<button type="submit">{{page.glob.langa.save}}</button>	
</form>

{% endblock %}
