{% extends 'main.html' %}

{% block pid %}id="padmin_user" data-ajax="false"{%endblock%}
{% block content %}

<h1>{{ page.glob.langa.admin_users }}</h1>
{% include "flash_messages.html" %}

<p>{{page.glob.langa.admin_users_legend2}}</p>
<form action="{{page.rot}}/admin/users/{{user.id}}" method="put" id="userform" 
	data-user="{{user.id}}" data-proot="{{page.rot}}">
	<fieldset data-role="fieldcontain">
		<label for="username">{{page.glob.langa.admin_username}}</label>
		<input name="username" id="username" type="text" 
			value="{{user.username}}" placeholder="{{page.glob.langa.admin_username}}" disabled="true" required="true" />
	</fieldset>	
	<fieldset data-role="fieldcontain">
		<label for="password">{{page.glob.langa.admin_userpw}}</label>
		<input name="password" id="password" type="password" 
			value="{{user.password}}" placeholder="{{page.glob.langa.admin_userpw}}" required="true" />
		<p>{{page.glob.langa.admin_userpw_expl}}</p>					
	</fieldset>	
	<fieldset data-role="fieldcontain">
		<label for="languages">{{page.glob.langa.language}}</label>
		<input name="languages" id="languages" type="text" 
			value="{{user.languages}}" placeholder="{{page.glob.langa.language}}"/>
		<p>{{page.glob.langa.admin_userlangs_expl}}</p>					
	</fieldset>	
	<fieldset data-role="fieldcontain">
		<label for="tags">{{page.glob.langa.tag}}</label>
		<input name="tags" id="tags" type="text" 
			value="{{user.tags}}" placeholder="{{page.glob.langa.tag}}"/>
		<p>{{page.glob.langa.admin_usertags_expl}}</p>					
	</fieldset>	
	<button  data-ajax="true" data-icon="check" type="submit">
		{{page.glob.langa.save}}
	</button>	
</form>
{% endblock %}
