{% extends 'main.html' %}

{% block pid %}id="padmin"{%endblock%}
{% block content %}
<h1>{{ page.glob.langa.admin_short }}</h1>

<ul data-role="listview">
	<li>
		<a href="{{page.rot}}/admin/configuration/">
			<h2>{{page.glob.langa.admin}}</h2>
		</a>
	</li>
	<li>
		<a href="{{page.rot}}/admin/users/">
			<h2>{{page.glob.langa.admin_users}}</h2>
		</a>
	</li>
		<li>
		<a href="{{page.rot}}/admin/idtemplates/">
			<h2>{{page.glob.langa.admin_idtemplates}}</h2>
		</a>
	</li>
	<li>
		<a href="{{page.rot}}/admin/version/">
			<h2>{{page.glob.langa.admin_check_version}}</h2>
		</a>
	</li>
</ul>

{% endblock %}
