{% extends 'main.html' %}

{% block pid %}id="padmin"{%endblock%}

{% block content %}

<ul data-role="listview">
	<li>
		<a href="{{page.rot}}/admin/configuration/">
			<h2>{{page.glob.l10n.admin}}</h2>
		</a>
	</li>
	<li>
		<a href="{{page.rot}}/admin/users/">
			<h2>{{page.glob.l10n.admin_users}}</h2>
		</a>
	</li>
		<li>
		<a href="{{page.rot}}/admin/idtemplates/">
			<h2>{{page.glob.l10n.admin_idtemplates}}</h2>
		</a>
	</li>
	</li>
		<li>
		<a href="{{page.rot}}/admin/mail/">
			<h2>{{page.glob.l10n.admin_mail}}</h2>
		</a>
	</li>
	<li>
		<a href="{{page.rot}}/admin/version/">
			<h2>{{page.glob.l10n.admin_check_version}}</h2>
		</a>
	</li>
</ul>

{% endblock %}
