{% extends 'main.html' %}

{% block pid %}id="pauthor_detail"{%endblock%}


{% block content %}
{% include "flash_messages.html" %}
<section class="author-detail-row">
	<header>
		{# Display available metadata only on first page #}
		{% if curpage == 0 %}
		<div class="grid grid-cols-2 grid-rows-2 grid-flow-col">
			<div class="row-start-1 col-start-1">
				<h3>{{ author.name }}</h3>
			</div>
			<div class="row-start-1 col-start-2">
				{# Display edit menu only on first page and if user is admin #}
				{% if curpage == 0 and isadmin %}
				<div class=" flex flex-row-reverse">
					<a >
						<svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 16l4.586-4.586a2 2 0 012.828 0L16 16m-2-2l1.586-1.586a2 2 0 012.828 0L20 14m-6-6h.01M6 20h12a2 2 0 002-2V6a2 2 0 00-2-2H6a2 2 0 00-2 2v12a2 2 0 002 2z"></path></svg>
						{{page.glob.l10n.author_thumbnail}}
					</a>
					<a>
						<svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 6H6a2 2 0 00-2 2v10a2 2 0 002 2h10a2 2 0 002-2v-4M14 4h6m0 0v6m0-6L10 14"></path></svg>
						{{page.glob.l10n.author_links}}
					</a>
				</div>
				{% endif %}
			</div>
			<div class="row-start-2 col-start-1">
				{% if author.thumbnail %}
				<img class="author-thumbnail-pic" src="{{page.rot}}/{{author.thumbnail.url}}"/>
				{% endif %}
			</div>
			<div class="row-start-2 col-start-2">
					{% if author.links %}
					<ul class="author-links-list">
						{% for link in author.links %}
						<li class="author-link link-{{link.id}}">
							<a data-role="button" data-icon="cloud" rel="external" href="{{link.url}}">{{link.label}}</a>
						</li>
						{% endfor %}
					</ul>
					{% endif %}
					{% if series != NULL %}
					<h3>{{page.glob.l10n.series}}</h3>
					<ul class="author-series-list">
						{% for this_series in series %}
						<li class="series-link link-{{link.id}}">
							<a data-role="button" data-icon="info" href="{{page.rot}}/series/{{this_series.id}}/0/">{{ this_series.name }}</a>
						</li>
						{% endfor %}
					</ul>
					{% endif %}
			</div>
		</div>
		{% else %}
		<h3>
			{{page.glob.l10n.booksby}} <em>{{ author.name }}</em>
		</h3> 
		{% endif %}
	</header>
	<section id="author-books">
		<div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-6">
			{% for book in books %}
				{% include "title_entry.html" %}		
			{% endfor %}	
		</div>
	</section>
</section>
{% endblock %}
