{% extends 'main.html' %}


{% block content %}
<div data-role="fieldcontain" class="ui-hide-label">
	<form action="{{page.rot}}/authorslist/0/" method="get">
		<label for="search">Autorensuche:</label>
		<input type="search" name="search" id="search" value="{{search}}" data-mini="true" placeholder="Suche nach Autoren"/>
	</form>
</div>
<ul data-role="listview" data-filter="false">	
	{% for author in authors %}
		{% if author.initial != "" %}
			<li data-role="list-divider"> {{ author.initial }}</li>
		{% else %}
			<li>
				<a href="{{page.rot}}/authors/{{ author.id }}">{{ author.sort }}
					<span class="ui-li-count">{{author.anzahl}}</span>
				</a>
			</li>
		{% endif %}
  {% endfor %}
</ul>
{% endblock %}
