{% extends 'main.html' %}

{% block headerlinks %}
  <link rel="related" href="{{page.rot}}/opds/" 
  	type="application/atom+xml;profile=opds-catalog" title="OPDS index">
  <link rel="alternate" href="{{page.rot}}/opds/authorlist/" 
  	type="application/atom+xml;profile=opds-catalog" title="OPDS catalog: by authors">
{% endblock %}

{% block content %}
<ul data-role="listview" data-filter="false">	
	{% for author in authors %}
		{% if author.initial != "" %}
			<li data-role="list-divider"> {{ author.initial }}</li>
		{% else %}
			<li>
				<a href="{{page.rot}}/authors/{{ author.id }}/0/">{{ author.sort }}
					<span class="ui-li-count">{{author.anzahl}}</span>
				</a>
			</li>
		{% endif %}
  {% endfor %}
</ul>
{% endblock %}
