{% extends 'layout-default.twig' %}

{% block headerlinks %}
    <meta name="turbolinks-cache-control" content="no-cache">
{% endblock %}

{% block content %}
    <h2 class="font-semibold">{{ page.glob.l10n.error }}</h2>
    <p class="error p-2 mt-2">
        {{ error }}
    </p>
{% endblock %}
