{% extends 'main.html' %}

{% block headerlinks %}
<link rel="related" href="{{page.rot}}/opds/" 
	type="application/atom+xml;profile=opds-catalog" title="OPDS index">
<link rel="alternate" href="{{page.rot}}/opds/newest/" 
	type="application/atom+xml;profile=opds-catalog" title="OPDS catalog: newest books">
{% endblock %}

{% block pid %}id="phome"{%endblock%}

{% block content %}
<h2>{{page.glob.l10n.intro}}</h2>
<ul>
    <li>{{stats.titles}} {{page.glob.l10n.titles}}</li>
    <li>{{stats.authors}} {{page.glob.l10n.authors}}</li>
    <li>{{stats.tags}} {{page.glob.l10n.tags}}</li>
    <li>{{stats.series}} {{page.glob.l10n.series}}</li>
</ul>

<h2>{{page.glob.l10n.dl30}}</h2>
<ul data-role="listview">
	{% for book in books %}
  	{% include "title_entry.html" %}
  {% endfor %}
</ul>
{% endblock %}


{% block leftpanel %}
<section data-role="panel" data-display="overlay" data-position="left" id="home_options_panel">
    <h2>{{page.glob.l10n.pagination_search}}</h2>

    <form action="{{page.rot}}/search/"
          method="get" class="ui-bar-a">
        <div data-role="fieldcontain" class="ui-hide-label">
            <label for="search">{{page.glob.l10n.pagination_search_lbl}}</label>
            <input type="search" name="search" id="search" value="{{search}}"
                   placeholder="{{page.glob.l10n.pagination_search_ph}}"/>
        </div>
    </form>
</section>
{% endblock %}