{% extends "layout.twig" %}
{% block header %}
    {% include "header.twig" %}
    <nav class="bg-hbgl dark:bg-hbgd py-1">
        {% include "navbar_top.twig" %}
        {% block navbar %}{% endblock %}
    </nav>
{% endblock %}
