{% if curpage != NULL %}
	{% if curpage > 0 %}
		<a  data-icon="arrow-l" data-role="button" class="ui-btn-left" 
				href="{{page.rot}}/{{url}}/{{curpage - 1}}/{% if search != NULL %}?search={{search}}{% endif %}">
			{{page.glob.langa.pagination_prev}}
		</a>	
	{% endif %}
	{% if curpage+1 < pages %}
		<a data-icon="arrow-r" data-role="button" class="ui-btn-right" 
			 href="{{page.rot}}/{{url}}/{{curpage + 1}}/{% if search != NULL %}?search={{search}}{% endif %}">
			{{page.glob.langa.pagination_next}}
		</a>	
	{% endif %}
	<h1>
		{% if search != NULL %}
			{{page.glob.langa.pagination_search}} 
		{% else %}
			{{page.glob.langa.pagination_page}} 
		{% endif %}
		{{ curpage+1 }}/{{ pages }}
		</h1>
{% else %}
	<a href="{{page.rot}}/admin/" data-icon="gear" class="ui-btn-left">{{ page.glob.langa.admin_short }}</a>
	<h1>{{ page.title }}</h1>
{% endif %}
{% if page.menu == 0 %}
<a  data-icon="back" data-rel="back" class="ui-btn-right">{{ page.glob.langa.back }}</a>
{% endif %}
<div data-role="navbar">
	<ul>		
	  <li>
	  	<a href="{{page.rot}}/" {% if page.menu == 1 %}class="ui-btn-active"{%endif%}>
	  		{{page.glob.langa.home}}
	  	</a>
	  </li>
	  <li>
	  	<a href="{{page.rot}}/titleslist/0/" {% if page.menu == 2 %}class="ui-btn-active"{%endif%}>
	  		{{page.glob.langa.titles}}
	  	</a>
	  </li>
	  <li>
	  	<a href="{{page.rot}}/authorslist/0/" {% if page.menu == 3 %}class="ui-btn-active"{%endif%}>
	  		{{page.glob.langa.authors}}
	  	</a>
	  </li>
	  <li>
	  	<a href="{{page.rot}}/tagslist/0/" {% if page.menu == 4 %}class="ui-btn-active"{%endif%}>
	  		{{page.glob.langa.tags}}
	  	</a>
	  </li>       
	  <li>
	  	<a href="{{page.rot}}/serieslist/0/" {% if page.menu == 5 %}class="ui-btn-active"{%endif%}>
	  		{{page.glob.langa.series}}
	  	</a>
	  </li>       	  
	</ul>
</div>
{% if page.menu > 1 %}
<form action="{{page.rot}}/{{url}}/0/" 
			method="get" class="ui-bar-b">
	<div data-role="fieldcontain" class="ui-hide-label">
		<label for="search">{{page.glob.langa.pagination_search_lbl}}</label>
		<input type="search" name="search" id="search" value="{{search}}" 
					placeholder="{{page.glob.langa.pagination_search_ph}}"/>
	</div>			
</form>
{% endif %}

