<div x-data="{ url: '/params/tags/initials/', initials: [], selectedInitial: '' }"
      x-init="$fetch(url).then(t => initials = t.data.data); $watch('selectedInitial', () => {visit4Jump(selectedInitial)})">
    >
    <script type="application/javascript">
        async function visit4Jump(val) {
            urlP = "{{page.rot}}/{{url}}/?jumpTarget=";
            urlS = "{% if search is not empty %}&search={{search}}&options={{search_options}}{% endif %}"
            url = urlP+val+urlS
            Turbolinks.visit(url, { action: "replace" });
        }
    </script>
    {# TODO l10n text for sort label  #}
    <label class="sr-only" for="initials-select">Sort</label>
    <select name="initials-select" id="initials-select" class="input" x-model="selectedInitial">
        <template x-for="i in initials" :key="i">
            <option :value="i"  x-text="i"></option>
        </template>
    </select>
</div>