{% extends 'main.html' %}

{% block content %}
	<div id="passwordform">
		<fieldset>
			<label for="password">Passwort</label>
			<input type="password" id="password" name="password" value="" autofocus />		
			<p id="pw_dlg_status">{{page.glob.langa.invalid_password}}</p>
			<a data-role="button" data-rel="back" data-icon="delete" data-inline="true">{{page.glob.langa.back}}</</a>
			<button class="checkdl" data-ajax="true" data-role="button"  data-icon="check" data-inline="true">{{page.glob.langa.check_access}}</a>
		</fieldset>
	</div>
{% endblock %}
