{% extends 'main.html' %}

{% block content %}
	<div>
		<form action="/bbs/titles/{{bookid}}/checkaccess/" method="post" id="passwordform">
			<fieldset>
				<label for="password">Passwort</label>
				<input type="password" id="password" name="password" value="" />				
				<a data-role="button" data-rel="back" data-icon="delete" data-inline="true">Abbruch</a>
				<button type="submit"  data-ajax="false" data-role="button"  data-icon="check" data-inline="true">OK</a>
			</fieldset>
		</form>
	</div>
{% endblock %}
