<div class="listview-titles">
    {% for this_series in series %}
        {% if series.initial != "" %}
            <li data-role="list-divider"> {{ this_series.initial }}</li>
        {% else %}
            {% include "series_entry.twig" %}
        {% endif %}
    {% endfor %}
</div>
