{% extends 'main.html' %}

{% block headerlinks %}
<link rel="related" href="{{page.rot}}/opds/"
	type="application/atom+xml;profile=opds-catalog" title="OPDS index">
<link rel="alternate" href="{{page.rot}}/opds/serieslist/" 
	type="application/atom+xml;profile=opds-catalog" title="OPDS catalog: by series">
{% endblock %}

{% block pid %}id="pseries"{%endblock%}

{% block content %}
<div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-6">
	{% for this_series in series %}
		{% if this_series.initial != "" %}
			<!-- TODO Add list divider card? -->
		{% else %}
			{% include "series_entry.html" %}
		{% endif %}
  	{% endfor %}
</div>
{% endblock %}
