{% extends 'layout-default.twig' %}

{% block content %}
	<section class="series_detail row">
		<header>
			<h1 class="text-2xl">{{page.glob.l10n.booksbyseries}} <em>{{ series.name }}</em>:</h1>
		</header>
	</section>
	<section class="py-2">
		{% include "titles_listview.twig" %}
	</section>
{% endblock %}
