{% extends 'main.html' %}

{% block headerlinks %}
<link rel="related" href="{{page.rot}}/opds/" 
	type="application/atom+xml;profile=opds-catalog" title="OPDS index">
<link rel="alternate" href="{{page.rot}}/opds/serieslist/" 
	type="application/atom+xml;profile=opds-catalog" title="OPDS catalog: by series">
{% endblock %}

{% block content %}
<ul data-role="listview" data-filter="false">	
	{% for this_series in series %}
		{% if series.initial != "" %}
			<li data-role="list-divider"> {{ this_series.initial }}</li>
		{% else %}
			<li>
				<a href="{{page.rot}}/series/{{ this_series.id }}/0/">{{ this_series.name }}
				<span class="ui-li-count">{{ this_series.anzahl }}</span></a>
			</li>
		{% endif %}
  	{% endfor %}
</ul>
{% endblock %}
