{% extends 'layout.twig' %}

{% block content %}
<section class="tag_detail row">
	<header>
		<h1>{{page.glob.l10n.booksbytag}} "{{ tag.name }}":</h1>
	</header>
</section>
<section>
	{% include "titles_listview.twig" %}
</section>
{% endblock %}
