{% extends 'main.html' %}

{% block content %}
<div data-role="fieldcontain" class="ui-hide-label">
	<form action="{{page.rot}}/tagslist/0/" method="get">
		<label for="search">{{page.glob.langa.pagination_search_lbl_tag}}</label>
		<input type="search" name="search" id="search" value="{{search}}" data-mini="true" 
				placeholder="{{page.glob.langa.pagination_search_ph_tag}}"/>
	</form>
</div>
<ul data-role="listview" data-filter="false">	
	{% for tag in tags %}
		{% if tag.initial != "" %}
			<li data-role="list-divider"> {{ tag.initial }}</li>
		{% else %}
			<li>
				<a href="{{page.rot}}/tags/{{ tag.id }}">{{ tag.name }}
				<span class="ui-li-count">{{ tag.anzahl }}</span></a>
			</li>
		{% endif %}
  	{% endfor %}
</ul>
{% endblock %}
