<div class="listview-titles">
    {% for tag in tags %}
        {% if tag.initial != "" %}
            <li data-role="list-divider"> {{ tag.initial }}</li>
        {% else %}
            {% include "tag_entry.twig" %}
        {% endif %}
    {% endfor %}
</div>