<a href="{{page.rot}}/titles/{{book.id}}">
	<div class="card">
		{% if book.thumbnail%}
		<img class="card-image" src="{{page.rot}}/data/titles/thumb_{{ book.id }}.png" alt="" width="384" height="512">
		{% else %}
		<img class="card-image" src="{{page.rot}}/titles/{{ book.id }}/thumbnail" alt="" width="384" height="512">
		{% endif %}
		<div class="card-content">
				<p class="text-lg font-semibold truncate">
					{% if series %}{{book.series_index}} - {% endif %}
					{{ book.sort }}
				</p>
			<p class="font-medium text-cyan-600 truncate">
					{{book.author_sort}}
			</p>
		</div>
	</div>
</a>
