{% extends 'main.html' %}

{% block nav %}
<h1>{{ page.glob.appname }} :: {{ book.title }}</h1>
<a href="{{page.rot}}/titles/" data-rel="back" data-icon="back" class="ui-btn-right">{{ page.glob.langa.back }}</a>
<div data-role="navbar">
	<ul>
	  <li><a href="{{page.rot}}/">{{page.glob.langa.home}}</a></li>
	  <li><a href="{{page.rot}}/titles">{{page.glob.langa.titles}}</a></li>
	  <li><a href="{{page.rot}}/authors">{{page.glob.langa.authors}}</a></li>
	  <li><a href="{{page.rot}}/tags">{{page.glob.langa.tags}}</a></li>       
	</ul>
</div>
{% endblock %}

{% block content %}
<section class="title_detail">	
	<header>
			<h1>{{ book.title }}</h1> 												
			<p>					
				{% for author in authors %}
				{{ author.name }}, 
				{% endfor %} 
				{{ book.pubdate | date("Y") }}
			</p>
			<p class="ui-state-error">{{ flash.error }}</p>	
	</header>		
	<div data-role="collapsible">
		<h2>{{page.glob.langa.download}}</h2>
		{% if (protect_dl == true) %} 
		<div class="dl_access">
			<p>
				{{ page.glob.langa.check_access_info }}
			</p>
			<a data-role="button" data-rel="dialog" href="{{page.rot}}/titles/{{book.id}}/showaccess/">
				{{ page.glob.langa.check_access }}
			</a>
		</div>
		{% endif %}	
		<div class ="dl_download" {% if protect_dl == true %} hidden="true" {% endif %}>
			<p>
				{{ page.glob.langa.presskey }}
			</p>
			<div data-role="controlgroup" data-type="horizontal">
				{% for format in formats %}				
						<a data-role="button" 
							{% if page.glob.glob_dl_toggle == true %} disabled="true" {% endif %} 
							data-ajax="false" 
							href="{{page.rot}}/titles/{{book.id}}/file/{{format.name}}.{{format.format|lower}}">
								{{ format.format }}
						</a>
				{% endfor %}
			</div>
		</div>
	</div>
	<aside class="title_detail_image">
			{% if book.has_cover %}		
				<img src="{{page.rot}}/titles/{{ book.id }}/cover/" />
			{% endif %}		
	</aside>
	<section class="title_details">
		<div id="authors" data-role="collapsible" data-collapsed="false">
				<h2>{{page.glob.langa.authors}}</h2>
				{% for author in authors %}
				<a data-role="button" data-icon="info" href="{{page.rot}}/authors/{{author.id}}">{{ author.name }}</a>
				{% endfor %} 
		</div>
		<div id="tags" data-role="collapsible">
			<h2>{{page.glob.langa.tags}}</h2>			
			<p>
				{% for tag in tags %}
				<a data-role="button" data-mini="true" data-inline="true" href="{{page.rot}}/tags/{{tag.id}}">{{ tag.name }}</a>
				{% endfor %}
			</p>
		</div>
		<div id="comment">
				<h2>{{page.glob.langa.comment}}</h2>			
				<div>
					{% autoescape false %}
					{{ comment }}
					{% endautoescape %}
				</div>
		</div>
	</section>	
</section>


{% endblock %}
