{% extends 'main.html' %}

{% block pid %}id="ptitle_detail"{%endblock%}

{% block content %}
<section class="title_detail">	
	<header>
			<h2>{{ book.title }}</h2>
			<p>					
				{{ book.pubdate | date("Y") }}	{{ language }}
			</p>
			<p class="ui-state-error">{{ flash.error }}</p>	
	</header>		
	<div class="title_detail_dloptions">
		<h3>{{page.glob.l10n.download}}</h3>
		{% if protect_dl == true %}
		<div class="dl_access">
			<p>
				{{ page.glob.l10n.check_access_info }}
			</p>
			<a data-role="button" data-rel="dialog" href="{{page.rot}}/titles/{{book.id}}/showaccess/">
				{{ page.glob.l10n.check_access }}
			</a>
		</div>
		{% endif %}
		<div class ="dl_download" {% if protect_dl == true %} hidden="true" {% endif %}>
			<p class="text-sm">
				{{ page.glob.l10n.presskey }}
			</p>
			<div class="flex space-x-4 my-4">
				{% for format in formats %}
				<div class="flex-initial">
					<a
							class="p-1 m-1 bg-gray-900 text-white dark:bg-white dark:text-gray-900 border-4 border-double"
							{% if page.glob.glob_dl_toggle == true %} disabled="true" {% endif %}
							href="{{page.rot}}/titles/{{book.id}}/file/{{format.name|url_encode()}}.{{format.format|lower}}">
						{{ format.format }} | {{format.uncompressed_size|hfsize}}
					</a>
				</div>
				{% endfor %}
				{% if kindle_format %}
				<input id="kindleButton" type="button" data-inline="true" data-icon="forward" value="{{page.glob.l10n.send_to_kindle}}" />
				{% endif %}
			</div>
		</div>
	</div>
	{% if kindle_format %}
	    <div data-role="popup" id="kindlePopup" data-overlay-theme="a" data-theme="c" style="max-width:450px;" class="ui-corner-all" data-transition="pop" data-dismissible="false">
	      <div data-role="header" data-theme="a" class="ui-corner-top">
	        <h1>{{page.glob.l10n.send_to_kindle}}</h1>
	      </div>
	      <div data-role="content" data-theme="a" class="ui-corner-bottom ui-content">
	        <h4 class="ui-title">{{ page.glob.l10n.presskey2 }}</h4>
	        <p><em>{{kindle_from_email}}</em> {{ page.glob.l10n.presskey3 }}</p>
			<form action="{{page.rot}}/titles/{{book.id}}/kindle/{{kindle_format.name|url_encode()}}.{{kindle_format.format|lower}}" method="POST" id="ajax-form" data-ajax="false">
			<div style="padding:5px 0 0 5px;max-width:280px;">
				<label for="kindleEmail" class="ui-hidden-accessible">{{page.glob.l10n.kindle_to_email}}</label>
				<input type="email" name="kindleEmail" id="kindleEmail" value="" placeholder="{{page.glob.l10n.kindle_to_email}}" data-theme="d" data-clear-btn="true" />
		  	</div>
	      	<div id="ajax-message" style="height:0.7em;padding-bottom:5px;">
	        	<span id="msg" style="color:red;display:none;"><small>{{ page.glob.l10n.error_kindle_send }}</small></span> 
	      	</div>
	      	<input id="ajax-form-button" type="submit" data-inline="true" data-theme="b" value="{{page.glob.l10n.send_now}}"/>
	      	<a href="#" data-role="button" data-inline="true" data-rel="back" data-theme="c">{{page.glob.l10n.cancel}}</a>  
	        </form> 
		  </div>
		</div>
	{% endif %}
	<div class="grid grid-flow-row grid-cols-1 lg:grid-cols-2 gap-4">
		<div class="title_detail_image ">
			{% if book.has_cover %}
			<img src="{{page.rot}}/titles/{{ book.id }}/cover/" width="300px"/>
			{% endif %}
		</div>
		<div class="title_details ">
			<div id="authors">
				<h3>{{page.glob.l10n.authors}}</h3>
				{% for author in authors %}
				<a class="icon" href="{{page.rot}}/authors/{{author.id}}/0/">
					<svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path></svg>
					{{ author.name }}
				</a>
				{% endfor %}
			</div>
			{% if series != NULL %}
			<div id="series">
				<h3>{{page.glob.l10n.series}}</h3>
				{% for this_series in series %}
				<a class="icon" href="{{page.rot}}/series/{{this_series.id}}/0/">
					<svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path></svg>
					{{ this_series.name }} ({{book.series_index}})
				</a>
				{% endfor %}
			</div>
			{% endif %}
			<div id="tags">
				<h3>{{page.glob.l10n.tags}}</h3>
				<p>
					{% for tag in tags %}
					<a class="icon" href="{{page.rot}}/tags/{{tag.id}}/0/">
						<svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path></svg>
						{{ tag.name }}
					</a>
					{% endfor %}
				</p>
			</div>
			{% if show_idlinks %}
			<div id="idlinks">
				<h3>{{page.glob.l10n.idlinks}}</h3>
				<p>
					{% for id in ids %}
					{% if id_templates[id.type] != NULL %}
					<a class="icon" rel="external" href="{{ id_templates[id.type][0]|replace({'%id%': id.val})}}">
						<svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 6H6a2 2 0 00-2 2v10a2 2 0 002 2h10a2 2 0 002-2v-4M14 4h6m0 0v6m0-6L10 14"></path></svg>
						{{ id_templates[id.type][1] }}
					</a>
					{% endif %}
					{% endfor %}
				</p>
			</div>
			{% endif %}
			{% if ccs != NULL %}
			<div id="custom_columns">
				<h3>{{page.glob.l10n.custom_columns}}</h3>
				<table id="custom_columns_table" class="my-2 table-auto min-w-full divide-y divide-gray-900">
					<tbody class="divide-y divide-gray-900">
					{% for cc in ccs %}
					<tr>
						<th>
							{{cc.name}}
						</th>
						<td>
							{% if cc.type == 'comments' %}
							{% autoescape false %}{{cc.value}}{% endautoescape %}
							{% else %}
							{% if cc.type == 'rating' %}
							{% set i = cc.value/2 %}
							{% for y in 1..i %}
							&#10033;
							{% endfor %}
							{% else %}
							{% if cc.type == 'bool' %}
							{% if cc.value == 1 %}
							&#10004;
							{% else %}
							&#10006;
							{% endif %}
							{% else %}
							{{cc.value}}
							{% endif %}
							{% endif %}
							{% endif %}
						</td>
					</tr>
					{% endfor %}
					</tbody>
				</table>
			</div>
			{% endif %}
			{% if comment %}
			<div id="comment">
				<h3>{{page.glob.l10n.comment}}</h3>
				<div>
					{% autoescape false %}
					{{ comment }}
					{% endautoescape %}
				</div>
			</div>
			{% endif %}
		</div>
	</div>
</section>


{% endblock %}
