{% extends 'main.html' %}

{% block nav %}
<h1>{{ page.glob.appname }} :: {{ page.glob.langa.titles }}</h1>
<div data-role="navbar">
	<ul>
	  <li><a href="{{page.rot}}/">{{page.glob.langa.home}}</a></li>
	  <li><a href="{{page.rot}}/titles" class="ui-btn-active">{{page.glob.langa.titles}}</a></li>
	  <li><a href="{{page.rot}}/authors">{{page.glob.langa.authors}}</a></li>
	  <li><a href="{{page.rot}}/tags">{{page.glob.langa.tags}}</a></li>       
	</ul>
</div>
{% endblock %}

{% block content %}
<ul data-role="listview" data-filter="true">	
	{% for book in books %}
		{% if book.initial != "" %}
			<li data-role="list-divider"> {{ book.initial }}</li>
		{% else %}
			<li><a href="{{page.rot}}/titles/{{ book.id }}">{{ book.sort }}</a></li>
		{% endif %}
  {% endfor %}
</ul>
{% endblock %}
